{% extends "companyhome.html" %}
{% block content %}

<style>
    .itemcontainer{
        width:70%;
        text-align: center;
        margin: auto;
        height: 200px !important;
    }
    .itemcontainer select{
        width:70%;
        padding: 4px;
    }
</style>

<div class="container mt-5">
    <div class="itemcontainer">
        <h3>Assign Staff</h3><br>
        <form method="post">
            {% csrf_token %}
        <select name="staff" id="">
            <option value="" selected disabled>------------------</option>
            {% for i in staffitems %}
              
            <option value="{{i.id}}">{{i}}</option>
            {% endfor %}

        </select><br><br>
        <button type="submit" class="btn btn-info">Assign</button>
    </form>
    </div>
</div>

{% endblock %}